:root {
  --background: #051821;
  --secondary: #1a4645;
  --text: whitesmoke;  /*#fbf3f2;*/
  --gradient: #C9D9D9;
}
/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
p, 
section {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* end reset */

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: linear-gradient(var(--background), var(--secondary));
  color: var(--text);
}

main {
  display: grid;
  grid-template-columns: 1fr minmax(350px, 90vh); /* want a square */ 
  column-gap: 0.4em;
  margin: 3em 2em;
}

h1 {
  font-size: 3em;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 15em;
}

.right {
  display: grid; /* template set in script */
  min-height: 300px;
  max-height: 90vh;
  background-color: transparent;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 0.5em 1em;
  letter-spacing: 1px;
  background-color: var(--text);
  border: none;
  border-radius: 5px;
  margin: 1em 0;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--text);
}

.fa-solid {
  color: white;
}

.square {
  transition: all 100ms;
}

/* styling for range input, form, span to report the value of input */
form {
  margin-top: 1em;
  position: relative;
}

input[type="range"] {
  -webkit-appearance: none;
   appearance: none;
   background: transparent;
   cursor: pointer;
   width: 11rem;
}

input[type="range"]:focus {
 outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: linear-gradient(var(--text), var(--gradient));
  border-radius: 0.5rem;
  height: 0.6rem;  
}

input[type="range"]::-webkit-slider-thumb {
 -webkit-appearance: none; 
  appearance: none;
  margin-top: -5px; 
  background: linear-gradient(var(--text), var(--gradient));
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
}

input[type="range"]:focus::-webkit-slider-thumb {   
 border: 1px solid var(--text);
 outline: 3px solid var(--text);
 outline-offset: 0.125rem; 
}

input[type="range"]::-moz-range-track {
  background: linear-gradient(var(--text), var(--gradient));
  border-radius: 0.5rem;
  height: 0.6rem;  
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  border: none; 
  border-radius: 50%; 
  background-color: var(--text);
  height: 1.2rem;
  width: 1.2rem;
}

input[type="range"]:focus::-moz-range-thumb {
 border: 1px solid var(--text);
 outline: 3px solid var(--text);
}

form .range-value { 
	position:absolute;
	margin-left: 14px;
  padding: 0.1em 0.5em;

	background-color: var(--text);
  color: var(--background);
	border-radius: 3px;
	text-align:center;
	line-height: 30px;
  bottom: -4px;
}

form .range-value:before{
	content:'';
	position:absolute;
	border-right:9px solid transparent;
	border-left:9px solid transparent;
	border-bottom:12px solid var(--text);
	left:-10px;
	top: 50%;
	transform:translateY(-50%) rotate(-90deg);
}

@-moz-document url-prefix() { /* position was off in ff */
  form .range-value { 
    bottom: 0px;
  }
}

@media (max-width: 600px) {
  main {
    grid-template-columns: 1fr;
    margin: 2em 0.2em;
  }
  .left {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
  }
  h1 {
    font-size: 2em;
  }
  .form-wrapper {
    align-self: center;
  }

  .right {
    min-height: 0;
    min-width: 300px;
  }
}